.flex-container {
  display: grid;
  flex-wrap: wrap;
  margin: 0 45px 45px 0;
}

.qvplaceholder,
.qvobject {
  height: 300px;
  min-width: 200px;
  margin: 45px 0 0 45px;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #f00; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  color: #e8112d;
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

#popup {
  background-color: #c3534b;
  color: #ffffff;
  position: fixed;
  max-width: 250px;
  padding: 10px;
  margin: 10px;
  bottom: 0;
  right: 0;
  display: none;
  border-radius: 5px;
  z-index: 6;
  font-family: sans-serif;
}

.close {
  cursor: pointer;
  background: 0 0;
  border: 0;
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
  position: absolute;
  right: 9px;
  top: 7px;
}

.close:hover {
  opacity: 0.5;
}

#popupText {
  margin-right: 23px;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

.intro {
  text-align: center;
}

p {
  padding-left: 20vw;
  width: 60vw;
}

.main {
  text-align: center;
}

.footer-distributed {
  background-color: #1b3c65;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 25px 25px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 100%;
}

/* The company logo */

.footer-distributed .logo {
  margin: 0;
}

.footer-distributed .logo img {
  height: 100px;
  text-align: center;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  padding: 0;
  width: 100%;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 100%;
  padding-top: 3%;
}

.footer-element {
  padding-top: 6.5%;
}

.footer-distributed .footer-center i {
  background-color: #6fc4a6;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  vertical-align: middle;
}

.footer-distributed .footer-center i {
  font-size: 17px;
  line-height: 38px;
  margin-right: 10px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
  width: 100%;
}

.footer-distributed .footer-center p a {
  color: white;
  text-decoration: none;
}

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 13px sans-serif;
    padding: 20px 20px;
  }

  .footer-distributed .footer-center p span {
    font-size: 13px;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
  }

  .footer-distributed .footer-center i {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
}